<body id="bkgndsignin">   
    <div  class="container-fluid " >
        <div  class="row " id="fluidsu">
          <div class="col-xs-12 col-sm-12 col-md-12 form-group" id="rowsignin" >
            <div id="signinPage">
                        
            <h2><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>INGRESA</h2>
                       
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="field">
                              <%= devise_error_messages! %>
                              <%= f.label :email  %><br />
                            
                                <%= f.email_field  :email, class:"form-control", placeholder:"Inserte email", autofocus: true %>
                            </div>

                            <div class="field">
                              <%= f.label :password %><br />
                              <%= f.password_field :password, class:"form-control", placeholder:"Inserte Contraseña", autocomplete: "off", autofocus: true %>
                            </div>

                            <% if devise_mapping.rememberable? -%>
                              <div class="field">
                                <%= f.check_box :remember_me %>
                                <%= f.label :Recordar %>
                              </div>
                            <% end %>

                            <div class="actions">
                              <%= f.submit "Iniciar sesión", class:"btn btn-default" %>
                            </div>
                          <% end %>

                    <%= render "users/shared/links" %>
             </div>
          </div>
        </div>
    </div>
  </body>




