<html>
<head>
	
  	<title></title>
  </head>
  <body id="newevent">
  	<h3> Crear Lugar </h3>
    <div  class="container-fluid">
        <div  class="row">
          <div class="col-xs-12 col-sm-12 col-md-12  ">

           
              <div >
                    <div id="divnewevent" class="form-group">

                        <%=form_for @place do |place|%>
                        	<%= place.label :name, "Nombre del lugar" %></br>
                          <%= place.text_field :name,  class:"form-control", placeholder:"Museo Nacional", autofocus: true%></br>
                        	<%= place.label :adress, "Dirección" %></br>
                        	<%= place.text_field :adress,  class:"form-control", placeholder:"Kr, Cll, Av, Tv, bis", autofocus: true%></br>
                          
                          <%= place.label :longitude, "longitude" %></br>
                         	<%= place.text_field :longitude, class:"form-control", placeholder:"formato de longitud", autofocus: true %></br>

                        	<%= place.label :latitude, "latitude" %></br>
                        	<%= place.text_field :latitude,  class:"form-control", placeholder:"formato longitud", autofocus: true %></br>
                        	<%= place.label :city, "ciudad" %></br>
                        	<%= place.text_field :city,  class:"form-control", placeholder:"Medellin,CO", autofocus: true %> </br>
                        	
                        	<%= place.label :website, "WebSite" %></br>
                        	<%= place.text_field :website, class:"form-control", placeholder:"www.cosito.com", autofocus: true %></br>

                          <%= place.label :openhour, "openhour" %></br>
                          <%= place.time_select :openhour, class:"form-control", placeholder:"10:00am", autofocus: true  %></br>
                          <%= place.submit %>
                         <%end%>

                            </div>                  
                   </div>
                </form>
              </div>
            </div>
        </div>
    
  </body>
</html>
>