<h2>Información de Usuario <%= current_user.name %></h2>
<div class="container-fluid">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
      <div class="col-xs-12 col-sm-4 col-md-4">
         <div class="field"> 
            <%= f.label :name, "Nombre o NickName" %> <br />
            <%= f.text_field :name, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :email, "E-mail" %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <%= f.label :sexo, "Sexo" %>
          <%= f.select :sexo, ['Hombre', 'Mujer', 'Intersex'] %><br />
          <%= f.label :tel, "Telefono" %><i>(Uso promocional e informativo)</i><br /> 
          <%= f.telephone_field :tel %><br /> 
          <%= f.label :avatar, "Imagen de perfil"%>
          <%= f.file_field :avatar %><br />
           <%= f.label :background, "Fondo de perfil"%>
          <%= f.file_field :background %><br />


      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="field">
          <%= f.label :bibliography, "Una pequeña reseña sobre ti" %><br /> 
          <%= f.text_field :bibliography %><br /> 
        </div>
        <div class="field">       
          <%= f.label :borndate,"Fecha de nacimiento" %><br /> 
          <%= f.date_select :borndate %><br /> 
          <%= f.label :locationborn, "Ciudad de nacimiento" %><br /> 
        </div>
        <div class="field">
          <%= f.text_field :locationborn %><br /> 
          <%= f.label :location, "Ciudad Actual" %><br /> 
        </div>

        <div class="field">
          <%= f.text_field :location %><br /> 
          <%= f.label :website, "Tu website de contacto" %><br /><%= f.text_field :website %><br /> 
        </div>
      
        </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, 'Contraseña' %> <i>(En blanco si no desea cambiar la contraseña)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Repita la contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(Necesita su contraseña usual para salvar los cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
      <div class="actions">
      <%= f.submit "Guardar cambios" %>
    
  <%= link_to "Atrás", :back %>
  </div>
</div>
    </div>
  <% end %>
    </div>

      </div>
      <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>



  

   

    
   
    
    

 