
  <title>Registrate</title>


    <body id="bkgndsignup">
      <div id="rowsignup" class="container-fluid">
        <div  class="row">
          <div class="col-xs-12 col-sm-12 col-md-12  ">

            
              <div >
                    <div id="signupPage" class="form-group">
                    
                        <h2> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Registrate</h2> 

                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                          <%= devise_error_messages! %>

                          <div class="field"> 
                            <%= f.label :name %> <br />
                            <%= f.text_field :name, class:"form-control", placeholder:"Nombre", autofocus: true %>
                          </div>

                          <div class="field">
                            <%= f.label :email %><br />
                            <%= f.email_field :email, class:"form-control", placeholder:"email", autofocus: true %>
                          </div>

                          <div class="field">
                            <%= f.label :sexo %><br />
                         

                          <%= f.select :sexo, options_for_select(["hombre", "mujer", "intersexual"]), class:"form-control", autofocus: true %><br />
                          </div>
                          
                          <div class="field">
                            <%= f.label :borndate%><br />
                            <%= f.date_select :borndate, class:"form-control", placeholder:"Fecha de apertura o día del evento", autofocus: true %> 
                          </div>
                          

                          <div class="field">
                            <%= f.label :password %>
                            <% if @validatable %>
                            <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
                            <% end %><br />
                            <%= f.password_field :password, autocomplete: "off",class:"form-control", placeholder:"Inserte contraseña", autofocus: true %>
                          </div>

                          <div class="field">
                            <%= f.label :password_confirmation %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Repita la contraseña", autofocus: true %>
                          </div>

                          <div class="actions"> <br />
                            <%= f.submit "Registrarse", class:"btn btn-default" %>
                          </div>

                        <% end %>

                        <%= render "users/shared/links" %>
                </div>                  
             </div>
       
        </div>
      </div>
  </div>
    
    </body>

